<div id="<%= dom_id theme %>">
  <p>
    <strong>Name:</strong>
    <%= theme.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= theme.description %>
  </p>

  <p>
    <strong>Css:</strong>
    <%= theme.css %>
  </p>

  <p>
    <strong>Modifiable:</strong>
    <%= theme.modifiable %>
  </p>

</div>
